.header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.73);
  box-shadow: 0 0.8px 2px #222222;
}

.header .col:nth-child(1) {
  flex-direction: column;
  justify-content: flex-start;
}
.header .col:nth-child(2) {
  justify-content: center;
}
.header .col:nth-child(3) {
  justify-content: flex-end;
}

.search_bar .hottopnew {
  display: flex;
  justify-content: space-around;
  margin: 1% 15% 0 15%;
}
.search_bar .searchbar {
  margin: 0 15% 0 15%;
}
.hottopnew a {
  display: inline-block;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.hottopnew .hot {
  color: #d45a0c;
}
.hottopnew .top, .hottopnew .new {
  color: #222222;
}

.login_signup a{
  margin: 0 5% 0 0;
  display: inline-block;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  padding: 0.7em 1.3em;
}
.login_signup .button_login {
  background-color: #d45a0c;
  color: rgb(245, 245, 245);

}
.login_signup .button_signup {
  background-color: #222222;
  color: white;
}

.logo h1 {
  font-size: 48px;
  font-variant: small-caps;
  color: #d45a0c;
}
