.DS_Store

temp/*
!temp/index.html

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

application/config/database.php
application/config/cloudinary.php
application/config/facebook.php

# IDE Files
#-------------------------
/nbproject/
.idea/
.editorconfig

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

## Test files
#Gradle
test/.gradle/
test/build/
test/debug.log

# Eclipse
test/.classpath
test/.project
test/.settings/
test/bin/

# IntelliJ IDEA
test/*.iml
test/*.iws