.DS_Store

public_html/temp/*
!public_html/temp/index.html

public_html/application/cache/*
!public_html/application/cache/index.html
!public_html/application/cache/.htaccess

public_html/application/logs/*
!public_html/application/logs/index.html
!public_html/application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

public_html/application/config/database.php
public_html/application/config/cloudinary.php
public_html/application/config/facebook.php
public_html/application/config/email.php

# IDE Files
#-------------------------
/nbproject/
.idea/
.editorconfig

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

## Test files
#Gradle
test/.gradle/
test/build/
test/debug.log

# Eclipse
test/.classpath
test/.project
test/.settings/
test/bin/

# IntelliJ IDEA
test/*.iml
test/*.iws