body {
  background-color: #fbfffe;
  min-height: 100%;
}
.hidden-label {
  display: none;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.container-fluid .break {
  height: 30px;
}
.meme img {
  width: 100%;
}
.memedata {
  display: flex;
  justify-content: space-between;
}
.addsomespice {
  text-align: right;
  position: fixed;
  top: 5em;
  right: 0;
}
.changelanguage {
  position: fixed;
  top: 5em;
  left: 0;
}
.changelanguage a{
  color: #2d1e2f;
}
.addsomespice a{
  background-color: #f72c25;
  color: #fbfffe;
}
.addsomespice a:hover {
  color: #ffc62b;
}
.active-vote {
  color: #f72c25;
}
.col-custom-block {
  display: block;
  width: 580px;
}

@media (max-width: 1050px) {
  .addsomespice {
    position: static;
  }
}

@media (max-width: 839px) {
  .changelanguage {
    position: static;
  }
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  .addsomespice {
    text-align: center;
  }
}
