.meme img {
  width: 100%;
}
.memedata {
  display: flex;
  justify-content: space-between;
}
.updownvote-frontpage a{
  opacity: 0.8;
  color: #2d1e2f;
  font-size: 40px;
}
.updownvote-frontpage a:hover{
  opacity: 1;
}
.col-custom-frontpage {
  display: block;
  width: 580px;
}
div#memebody {
  margin: 0px auto;
}
@media (max-width: 580px) {
  .col-custom-frontpage {
    width: auto;
  }
  .updownvote-frontpage *{
    font-size: 35px;
  }
}
.meme a {
  text-decoration: none;
}
.meme a {
  opacity: 0.8;
  color: #2d1e2f;
}
.meme a:hover {
  opacity: 1;
}
