.meme img {
  width: 100%;
}
.memedata {
  display: flex;
  justify-content: space-between;
}
.updownvote-frontpage *{
  font-size: 40px;
}
.col-custom-frontpage {
  display: block;
  width: 580px;
}
div#memebody {
  margin: 0px auto;
}
@media (max-width: 580px) {
  .col-custom-frontpage {
    width: auto;
  }
  .updownvote-frontpage *{
    font-size: 35px;
  }
}
