body {
  background-color: #fbfffe;
  min-height: 100%;
}
.button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 6px;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}
.button:hover {
    background-color: #333333;
    color: white;
}

.hidden-label {
  display: none;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.container-fluid .break {
  height: 30px;
}
.meme img {
  width: 100%;
}
.memedata {
  display: flex;
  justify-content: space-between;
}
.addsomespice {
  text-align: right;
  position: fixed;
  right: 10px;
  z-index: 1;
}
.changelanguage {
  text-align: left;
  position: fixed;
  left: 10px;
  z-index: 1;
}
.changelanguage a{
  color: #2d1e2f;
}
.addsomespice a{
  background-color: #f72c25;
  color: #fbfffe;
}
.addsomespice a:hover {
  color: #ffc62b;
}
.active-vote {
  color: #f72c25;
}
.col-custom-block {
  display: block;
  width: 580px;
}
.validationError {
  margin-top: 0;
}

@media (max-width: 839px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  .validationError {
    margin-top: 3.5em;
  }
}
