img {
    display: block;
}
.btn-edit {
    width: 100%;
}
.btn-delete-account {
    background-color: #ff5454;
    padding: 13px 18px;
    font-size: 16px;
    border-radius: 8px;
}
.btn-delete-account:hover {
    background-color: #ff0000;
}
