img {
    display: block;
}

.btn-edit {
    width: 100%;
}

.btn-delete-account {
    color: red;
    font-weight: bold;
}

.btn-confirmdelete {
    background-color: #f72c25;
    color: white;
    width: 100%;
    font-weight: bold;
}