#social-fb:hover {
    color: #ffc62b;
}
#social-tw:hover {
    color: #ffc62b;
}
#social-ig:hover {
    color: #ffc62b;
}
.social {

  color: #fbfffe;
}

.footer {
  background-color: #2d1e2f;
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.footer .site-map {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.footer .site-map h3 {
  color: #fbfffe;
}

.footer .site-map ul li {
  display: inline;
  padding: 0 8px;
}

.footer .site-map ul {
  padding: 0;
}

.footer .site-map a {
  color: #fbfffe;
}

.footer .site-map a:hover {
  color: #ffc62b;
  text-decoration: none;
}

.link-about {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 24px;
  text-decoration: none;
  border-radius: 10px;
  color: #fbfffe;
}

.link-about:hover {
  color: #ffc62b;
  text-decoration: none;
}

.social-media .social{
  font-size: 50px;
  margin: 0 6px;
}

/* Sticky footer CSS */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 285px;
}

.footer {
  position: absolute;
  bottom: 0;
}
