body {
  background-color: #fbfffe;
  min-height: 100%;
}
.button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 6px;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}
.button:hover {
    background-color: #333333;
    color: white;
}

.hidden-label {
  display: none;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.container-fluid .break {
  height: 30px;
}
.meme img {
  width: 100%;
}
.memedata {
  display: flex;
  justify-content: space-between;
}
.addsomespice {
  text-align: right;
  position: fixed;
  right: 10px;
  z-index: 1;
}
.changelanguage {
  text-align: left;
  position: fixed;
  left: 10px;
  z-index: 1;
}
.changelanguage a{
  color: #2d1e2f;
}
.addsomespice a{
  background-color: #f72c25;
  color: #fbfffe;
}
.addsomespice a:hover {
  color: #ffc62b;
}
.active-vote {
  color: #f72c25;
}
.col-custom-block {
  display: block;
  width: 580px;
}
.validationError {
  margin-top: 0;
}

@media (max-width: 839px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  .validationError {
    margin-top: 3.5em;
  }
}
.col-custom-about {
  display: block;
  width: 580px;
}
.col-custom-about h2 {
  text-align: center;
}
.col-custom-about p {
  text-align: justify;
}
.donate-button {
  text-align: center;
  width: 100%;
  background-color: #f72c25;
  color: #fbfffe;
}
.donate-button:hover {
  color: #ffc62b;
}
#map {
  height: 400px;
  width: 100%;
}
.aboutus-location h2{
  text-align: center;
}

@media (max-width: 580px) {
  .col-custom-about {
    width: auto;
  }
}
.meme-submit-button {
  background-color: #ff8a2b;
}
.meme-submit-button:hover {
  background-color: #ff7607;
}
.col-custom-commentspage {
  display: block;
  width: 580px;
}
.insert-comments textarea {
  resize: none;
}
.updownvote-comments *{
  font-size: 20px;
}
.comment {
  width: 100%;
  background-color: #fbfffe;
  padding: 5px 10px 5px 10px;
}
.comment-data {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.profile-pic-comments {
  width: 100px;
  margin-right: 3px;
}
.read-comments {
  display: flex;
  flex-flow: row;
}
.comment p {
  text-align: justify;
}
#deleteComment a {
  color: DarkRed;
}
@media (max-width: 580px) {
  .col-custom-commentspage {
    width: auto;
  }
  .profile-pic-comments {
    height: 70px;
    width: 70px;
    margin-right: 3px;
  }
  .updownvote-comments *{
    font-size: 18px;
  }
}
img {
    display: block;
}
.btn-edit {
    width: 100%;
}
.btn-delete-account {
    background-color: #ff5454;
    padding: 13px 18px;
    font-size: 16px;
    border-radius: 8px;
}
.btn-delete-account:hover {
    background-color: #ff0000;
}
#social-fb:hover {
    color: #ffc62b;
}
#social-tw:hover {
    color: #ffc62b;
}
#social-ig:hover {
    color: #ffc62b;
}
.social {

  color: #fbfffe;
}

.footer {
  background-color: #2d1e2f;
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.footer .site-map {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.footer .site-map h3 {
  color: #fbfffe;
}

.footer .site-map ul li {
  display: inline;
  padding: 0 8px;
}

.footer .site-map ul {
  padding: 0;
}

.footer .site-map a {
  color: #fbfffe;
}

.footer .site-map a:hover {
  color: #ffc62b;
  text-decoration: none;
}

.link-about {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 24px;
  text-decoration: none;
  border-radius: 10px;
  color: #fbfffe;
}

.link-about:hover {
  color: #ffc62b;
  text-decoration: none;
}

.social-media .social{
  font-size: 50px;
  margin: 0 6px;
}

/* Sticky footer CSS */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 285px;
}

.footer {
  position: absolute;
  bottom: 0;
}
.meme img {
  width: 100%;
}
.memedata {
  display: flex;
  justify-content: space-between;
}
.updownvote-frontpage a{
  opacity: 0.8;
  color: #2d1e2f;
  font-size: 40px;
}
.updownvote-frontpage a:hover{
  opacity: 1;
}
.col-custom-frontpage {
  display: block;
  width: 580px;
}
div#memebody {
  margin: 0px auto;
}
@media (max-width: 580px) {
  .col-custom-frontpage {
    width: auto;
  }
  .updownvote-frontpage *{
    font-size: 35px;
  }
}
.meme a {
  text-decoration: none;
}
.meme a {
  opacity: 0.8;
  color: #2d1e2f;
}
.meme a:hover {
  opacity: 1;
}
.video {
  cursor: pointer;
  background-color: black;
}
.play-button {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
  background: url("https://www.gstatic.com/images/icons/material/product/2x/youtube_64dp.png") center center no-repeat;
  background-size: 60px 60px;
}
.preview-image {
  top: -16.84%;
  left: 0;
  right: 0;
  position: absolute;
}.navbar-default {
  background-color: #f72c25;
  border-color: #2d1e2f;
}
.navbar-default .navbar-brand {
  color: #fbfffe;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffc62b;
}
.navbar-default .navbar-text {
  color: #fbfffe;
}
.navbar-default .navbar-nav > li > a {
  color: #fbfffe;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffc62b;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #f72c25;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #fbfffe;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffc62b;
  background-color: #2d1e2f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #2d1e2f;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffc62b;
  background-color: #2d1e2f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffc62b;
  background-color: #2d1e2f;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffc62b;
  background-color: #2d1e2f;
}
.navbar-default .navbar-toggle {
  border-color: #2d1e2f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2d1e2f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fbfffe;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fbfffe;
}
.navbar-default .navbar-link {
  color: #fbfffe;
}
.navbar-default .navbar-link:hover {
  color: #ffc62b;
}

@media (max-width: 839px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fbfffe;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffc62b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffc62b;
    background-color: #2d1e2f;
  }
}
.social-wrap button {
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    font-family:"Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    width: 215px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
}
button#facebook {
    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url(/assets/facebook-icon.png);
}
button#facebook:hover {
  background-color: #4563B3;
}
button#facebook:active {
  background-color: #32508a;
}
/* scroll bar is not removed and page doesn't shift if modal is open */
.modal-open {
    overflow-y: scroll;
    padding-right: 0 !important;
}
/* line 5, ../sass/offline-language-english-indicator.sass */
.offline-ui.offline-ui-up .offline-ui-content:before {
  content: "Online";
}
/* line 10, ../sass/offline-language-english-indicator.sass */
.offline-ui.offline-ui-down .offline-ui-content:before {
  content: "Offline";
}
/* line 3, ../sass/_offline-theme-base-indicator.sass */
.offline-ui, .offline-ui *, .offline-ui:before, .offline-ui:after, .offline-ui *:before, .offline-ui *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/_offline-theme-base-indicator.sass */
.offline-ui {
  display: none;
  position: fixed;
  background: white;
  z-index: 2000;
  display: inline-block;
}
/* line 13, ../sass/_offline-theme-base-indicator.sass */
.offline-ui .offline-ui-retry {
  display: none;
}
/* line 16, ../sass/_offline-theme-base-indicator.sass */
.offline-ui.offline-ui-up {
  display: block;
}
/* line 19, ../sass/_offline-theme-base-indicator.sass */
.offline-ui.offline-ui-down {
  display: block;
}

/* line 8, ../sass/offline-theme-dark-indicator.sass */
.offline-ui {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  padding: 1em;
  background: black;
  color: #cccccc;
  bottom: 0;
  left: 20px;
}
/* line 19, ../sass/offline-theme-dark-indicator.sass */
.offline-ui .offline-ui-content {
  padding-left: 1.5em;
}
/* line 22, ../sass/offline-theme-dark-indicator.sass */
.offline-ui .offline-ui-content:after {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1em;
  margin: auto;
  height: 0.8em;
  width: 0.8em;
}
/* line 36, ../sass/offline-theme-dark-indicator.sass */
.offline-ui.offline-ui-up .offline-ui-content:after {
  background: #80d580;
}
/* line 41, ../sass/offline-theme-dark-indicator.sass */
.offline-ui.offline-ui-down .offline-ui-content:after {
  background: #e24949;
}
.search-row {
    width: 100%;
}

.search-thumbnail, .search-memeinfo {
    float: left;
}

.search-thumbnail {
    margin-right: 24px;
}

.search-image {
    width: 120px;
    height: 90px;
}

.search-title {
    font-size: 1.5em;
    margin-bottom: 16px;
}.profile-pic-userpage {
  width: 120px;
}
.user-profile-userpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit-profile-pswd {
  display: inline-block;
}
.edit-profile-pswd a {
  margin-right: 20px;
}
.user-data {
  display: flex;
  flex-direction: column;
}
.sortingsection-userpage {
  display: flex;
  flex-direction: row;
}
.sortingsection-userpage *{
  margin-right: 3px;
}
.col-custom-userpage {
  display: block;
  width: 820px;
}
@media (max-width: 820px) {
  .col-custom-userpage {
    width: auto;
  }
}
